@page "/books/"
@inject IBookService bookService
@inject IJSRuntime js

<h3>Index</h3>

@if (response.Success == false)
{
    <div class="alert alert-danger">
        <h4>@response.Message</h4>
    </div>
}

@if (Books == null)
{
    <div class="alert alert-info">
        <h4>Loading Data...</h4>
    </div>
}
else
{
    <AuthorizeView Roles="Administrator">
        <a class="btn btn-dark" href="/books/create">Create</a>
    </AuthorizeView>
    <br />
    <BookTable Books="Books" TotalSize="TotalSize" OnScroll="LoadBooks" />
}

@code {
    private List<BookReadOnlyDto> Books;
    public int TotalSize { get; set; }
    private Response<BookReadOnlyDtoVirtulalizeResponse> response = new Response<BookReadOnlyDtoVirtulalizeResponse> { Success = true };

    protected override async Task OnInitializedAsync()
    {
        response = await bookService.GetBook(new QueryParameters { StartIndex = 0 });
        if (response.Success)
        {
            Books = response.Data.Items.ToList();
        }
    }

    private async Task LoadBooks(QueryParameters queryParams)
    {
        var virtualizeResult = await bookService.GetBook(queryParams);
        Books = virtualizeResult.Data.Items.ToList();
        TotalSize = virtualizeResult.Data.TotalSize;
    }
}
