@page "/users/Login"

<h3>Login</h3>

<div>
    <EditForm Model="LoginModel">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <div class="Form-group">
            <lable for="email">Email Address</lable>
            <InputText class="form-control" @bind-Value="LoginModel.Email" />
            <ValidationMessage For="@(() => LoginModel.Email)" />
        </div>
        <br />
        <div class="Form-group">
            <lable for="email">Password</lable>
            <InputText class="form-control" type="password" @bind-Value="LoginModel.Password" />
            <ValidationMessage For="@(() => LoginModel.Password)" />
        </div>
        <br />
        <button class="btn btn-primary btn-block" @onclick="HandleLogin">Login</button>
        @if (!string.IsNullOrEmpty(message))
        {
            <div class="alert alert-danger mt-2">@message</div>
        }
    </EditForm>
</div>


